html, body{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}
.navbar-brand{
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar{
	min-height: 100px;
}
.navbar-inverse{
	background-color: #fff;
	border-color: #D45A2C;
}
.navbar-inverse .navbar-nav > li > a{
	color: #D45A2C;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 40px;
	padding-top: 40px;
	border-right: 1px solid #ddd;
	background: #fff;
}
.navbar-inverse .navbar-nav > li > .activo{
	color:#fff;
	background: #D45A2C;
}
.navbar-inverse .navbar-nav > li > .activo:hover{
	color:#fff;
	background: #D45A2C;
}
.dropdown > a > span{
	display: block;
	text-align: center;
}
.navbar-inverse .navbar-nav > li > .dropdown-toggle{
	padding-top: 40px;
	padding-bottom: 20px;
}
.dropdown-menu{
	padding: 0px;
}
.dropdown-menu > li > a{
	font-weight: bold;
	font-size: 15px;
	color: #D45A2C;
	-webkit-transition: color 0.1s linear; /* Safari */
    transition: color 0.1s linear;
}
.dropdown-menu > li > a:hover{
	color:#fff;
	-webkit-transition: color 0.1s linear; /* Safari */
    transition: color 0.1s linear;
}
header{
	margin-top: 100px;
}
.panel-heading h4{
	font-weight: bold;
	font-size: 25px;
	color: #88150E;
	text-align: center;
}
.panel{
	margin-bottom: 0px;
}
.panel-body{
	padding-left: 0px;
	padding-right: 0px;
}
.panel-body p{
	font-size: 15px;
}
.panel-default{
	border-color: transparent;
}
.panel-default > .panel-heading{
	border-color: transparent;
}
.botones{
	text-align: center;
}
.ghost-button-full-color {
  display: inline-block;
  width: 120px;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #88150E;
  background-color: transparent;
  border: 2px solid #88150E;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
.ghost-button-full-color:hover,
.ghost-button-full-color:active {
  background-color: #88150E;
  border-color: #88150E;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}
.news{
	margin-top: 30px;
}
.news p{
	font-weight: normal;
	font-size: 15px;
	text-align: justify;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border-width: 1px;
	border-style: solid;
	border-color: #88150E #88150E transparent;
	color: #88150E;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-tabs {
    border-bottom: 1px solid #88150E;
}
.nav-tabs > li > a{
	color: #88150E;
}
.nav-tabs > li > a:hover{
	background: transparent;
	font-weight: bold;
	border: transparent;
}

footer{
	width: 100%;
	height: 250px;
	background: #D45A2C;
	margin-bottom: 0px;
    padding-top: 20px;
	color:#fff;
}
footer h2{
	font-weight: bold;
	font-size: 20px;
}
footer h3{
	font-weight: normal;
	font-size: 18px;
	/*border-bottom: 2px solid #fff;*/
}
footer ul{
	list-style: none;
	padding: 0px;
}
footer ul li a{
	text-decoration: none;
	color:#fff;
	font-weight: normal;
	-webkit-transition: color 0.1s linear; /* Safari */
    transition: color 0.1s linear;

}
footer ul li a:hover{
	color:#88150E;
	text-decoration: none;
	-webkit-transition: color 0.1s linear; /* Safari */
    transition: color 0.1s linear;
}
.redes{
	padding-left: 0px;
}
footer h4{
	color:#fff;
	
}
.social a{
	margin-right: 5px;
}



#cubo-relativo{ 
	position:relative; 
	margin-left:10px; 
	margin-top:10px; 
	width:205px; 
	height:205px; 
	float:left; 
	background-color: #FFFFFF;
}

#cubo-relativo2{ 
	position:relative; 
	margin-left:10px; 
	margin-top:10px; 
	width:505px; 
	height:205px; 
	float:left; 
	background-color: #FFFFFF
}

.pepe{ 
	border:#C30; 
	border:thick; 
	border:medium; 
	border-color: #FFF; 
	border-style:solid;
}

.pepe:hover{ 
	border:#C30; 
	border:thick; 
	border:medium; 
	border-color: #33F; 
	border-style:solid; 
	opacity: 0.6; 
	filter: alpha(opacity=60); 
	-webkit-transition: opacity 0.2s linear; 
	-moz-transition: opacity 0.2s linear; 
	transition: opacity 0.2s linear
}

.panel-default>.panel-heading {
	background: none;
}
.panel.panel-default {
	box-shadow: none;
}
.footer-social-img {
	width: 20px;
	height: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
}
a.dropdown-toggle.hvr-sweep-to-bottom {
	background-color: #D45A2C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #D45A2C;	
}

.btn-primary {
    background-color: #88150E;
    border-color: #88150E;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	background-color: #AC2820;
    border-color: #AC2820;
}



.borderow{
	border-right: 3px solid #D45A2C;
	border-top: 3px solid #D45A2C;
	border-left: 3px solid #D45A2C;
	background: #fff;
}
.borderow2{
	border-right: 3px solid #D45A2C;
	border-bottom: 3px solid #D45A2C;
	border-left: 3px solid #D45A2C;
	background: #fff;
}



.marco-foto:hover{
  height: 500px;
	box-shadow:0px 0px 50px #000;
	color:#fff;
	filter: blur(0px);
	
}

.foto1{background-image: url("../img/modernismo.jpg");}


.info-img{ opacity: 0; position: absolute; width: 840px; height: 500px; overflow:hidden;}
.info-img:hover{opacity: 1; width: 1080px;
	  -webkit-transition: width 2s ease, background-color 1s ease-out, width 1s, box-shadow 1s linear;
	  -moz-transition:width 2s ease, background-color 1s ease-out, width 1s, box-shadow 1s linear;
	  -o-transition:width 2s ease, background-color 1s ease-out, width 1s, box-shadow 1s linear;
	  -ms-transition:width 2s ease, background-color 1s ease-out, width 1s, box-shadow 1s linear;
	  transition: width 2s ease, background-color 1s ease-out, width 1s, box-shadow 1s linear;
}



.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #D45A2C; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #D45A2C;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}
article h2{color:#333333;}

 .margin10{margin-bottom:10px; margin-right:10px;}
 
 .container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}






















.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}














#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1, 
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
      height: 480px;
    }
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url("../img/abuelos.png"); 
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url("../img/abuelos01.png");
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url("../img/abuelos02.png");
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;  
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 50px;
      height: 8px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 50px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
}

.carousel-image {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 600px !important;
}
